/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 11:17:53 AM
    Author     : nguyenhung
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2017, 11:55:05 PM
    Author     : ueda
*/


.list{
    width: 40%;
    float: left;
    margin: 40px;
    height: 210px;
}
.menu{
    margin-top: 40px;
}